<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Meadowlark Travel</title>
  {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css" >
  {{/if}}
</head>

<body>
  <header>
    {{{_sections.head}}}
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <img src="/img/logo.png" alt="Meadowlark Travel Logo" />
  </header>

  {{#if flash}}
  <div class="alert alert-dismissible alert-{{flash.type}}">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;<button>
    <strong>{{flash.intro}}</strong> {{{flash.message}}}
  </div>
  {{/if}}

  {{{body}}}

  <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.0.0.min.js"><\/script>')</script>
  {{{_sections.jquery}}}
  <script src="/vendor/js/bootstrap.min.js"></script>

  {{#if showTests}}
    <div id="mocha"></div>
      <script src="/vendor/mocha.js"></script>
      <script src="/vendor/chai.js"></script>
      <script type="text/javascript">
        mocha.ui('tdd');
        var assert = chai.assert;
      </script>
      <script src="/qa/tests-global.js"></script>

      {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
      {{/if}}
      <script>mocha.run();</script>
  {{/if}}
</body>
</html>
